AWSTemplateFormatVersion: "2010-09-09"

Parameters:
  IdentityCenterIdentityStoreId:
    Description: ID of the Identity Store
    Type: String
    AllowedPattern: ^d-[0-9a-f]{10}$|^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$

Resources:
  AdministratorsGroup:
    Type: AWS::IdentityStore::Group
    Properties:
      Description: Full admin
      DisplayName: Administrators
      IdentityStoreId: !Ref IdentityCenterIdentityStoreId
